
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<div>
    Quản lý thông tin tất cả các phim
    @Html.ActionLink("Xem","AllMovie")
</div>
<div>
    Quản lý thông tin tất cả các suất chiếu
    @Html.ActionLink("Xem", "AllShowtime")
</div>

